doctype html
html(lang="en")
  head
    title= pageTitle
    link(href="stylesheets/screen.css",rel="stylesheet")
  body
    h1 Jade - node template engine
    section
      p content
    aside
      a(href="#") export to csv
      